.wrapper {
    height: 400px;
    width: 800px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    padding: 10px;
    text-align: left;
}

.wrap-left {
   padding-left:30px;
   padding-right: 50px;   
}

.wrap-right {
    padding-right: 20px;
    margin-left: 20px;
}

.label {
    font-size: 16px;
    color: hsl(184, 14%, 56%);
    font-weight: 600;
    margin-top: 30px;
    font-size: 15px;
}

.dollar-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.person-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 375px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 600px;
    }

    .wrap-left {
        width: 375px;
        margin-left: 60px; 
    }
    
    .wrap-right {
        width: 375px;
    }
}

@media screen and (max-width: 475px) {
    .wrapper {
        height: 100%;
        margin: 0px 0px 0px 30px;
    }
    
    .wrap-right {
        padding: 0px;
    }
}

@media screen and (max-width: 375px) {
    .wrapper {
        margin: 40px 0px 0px 0px;
        width: max-content;
        height: 900px;
        padding: 0px;
        padding-right: 20px;
    }

    .btn-row {
        width: 300px;
    }

    .label {
        width: 250px;
    }

    .wrap-left {
        width: inherit;
        margin-left: 0px;
        width: 250px;
    }

    .wrap-right {
        width: inherit;
    }
}